@function get-vw($target) {
    $vw-context: (1920*.01) * 1px;
    $res: (calc($target/$vw-context)) * 1vw;
    @return $res;
}
// Colors
$white-clr: #FFFFFF;

// Bg Colors
$bg-black: #020512;

// Btn Colors
$btn-black: #020512;

h1, h2, h3, h4, h5, h6, ul, li, p {
    margin-bottom: 0;
}
.bg-black {
  background-color: #020512;
}
.bg-white {
  background-color: #FFFFFF;
}
.white-clr {
  color: #FFFFFF;
}
.textColor {
  color: #020512 !important;
}
.fw1{
    font-weight: 100;
}
.fw2{
    font-weight: 200;
}
.fw3{
    font-weight: 300;
}
.fw4{
    font-weight: 400;
}
.fw5{
    font-weight: 500;
}
.fw6{
    font-weight: 600;
}
.fw7{
    font-weight: 700;
}
.fw8{
    font-weight: 800;
}
.fw9{
    font-weight: 900;
}


@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
         url('../assets/fonts/Poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arima';
    src: url('../assets/fonts/Arima/Arima-Regular.woff2') format('woff2'),
         url('../assets/fonts/Arima/Arima-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../assets/fonts/Archivo/Archivo-Regular.woff2') format('woff2'),
         url('../assets/fonts/Archivo/Archivo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$pop: 'Poppins', sans-serif;
$arch: 'Archivo', sans-serif;
$arima: 'Arima', cursive;


// Font Sizes
$f60: 60px;
$f70: 70px;
$f24: 24px;
$f30: 30px;
$f22: 22px;
$f25: 25px;
$f18: 18px;
$f80: 80px;
$f14: 14px;
$f16: 16px;
$f40: 40px;
$f15: 15px;
$f50: 50px;
$f80: 80px;

.pop {
    font-family: $pop;
    &.t80 { font-size: $f40; }
}
.arch {
    font-family: $arch;
    &.t36 { font-size: $f24; } 
    &.t16 { font-size: $f14; }
    &.t15 { font-size: $f14; }
    &.t20 { font-size: $f15; }

}

.arima {
    font-family: $arima;
    &.t60 { 
        font-size: $f30; 
        line-height: 35px;
    } 
    &.t70 { 
        font-size: $f40; 
        line-height: 40px;
    }
    &.t80 { 
        font-size: $f40; 
        line-height: 40px;
    }
}

.pt-small{
    padding-top: 40px;
}
.pb-small{
    padding-bottom: 40px;
}
.pt-large{
    padding-top: 60px;
}
.pb-large{
    padding-bottom: 60px;
}

a.view-btn {
    display: inline-block;
    margin: 15px auto;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 100px;
    padding: 15px 20px;
    border: none;
    background: linear-gradient(90deg, #86C367 0.02%, #27A2DB 92.66%);
    transition: all 0.3s ease;
  
    &.pulse-button {
      display: flex;
      justify-content: center;
      align-items: center;
      animation: borderPulse 1000ms infinite ease-out;
  
      &:hover,
      &:focus {
        animation: borderPulse 1000ms infinite ease-out, hoverShine 200ms;
      }
    }
  }
  
  

@media only screen and (min-width: 992px){
    .pop {

    }
    .arch {  
        &.t22{
            font-size: 14px;
            font-style: normal;
            line-height: 25px; 
        }  
        &.t16 { font-size: $f16; }
        &.t80 { font-size: get-vw(50px); }


    
    }
    .arima {
        &.t60{
            font-size: get-vw($f40);
            line-height: get-vw(50px); 
        }
        &.t60{
            font-size: get-vw($f80);
            line-height: get-vw(65px); 
        }
    } 
}
@media only screen and (min-width: 1200px){
.pop {

}
.arch {  
    &.t22{
        font-size: get-vw(20px);
        font-style: normal;
        line-height: get-vw(30px); } 
    &.t16 { font-size: get-vw(16px); }
    &.t15 { font-size: get-vw(15px); }
    &.t80 { font-size: get-vw(80px); }
    &.t20 { font-size: get-vw(20px); }

}
.arima {
    &.t60{
        font-size: get-vw($f60);
        line-height: get-vw(70px); 
    } 
    &.t50{
        font-size: get-vw($f50);
        line-height: get-vw(50px); 
    }
    &.t70{
        font-size: get-vw($f70);
        line-height: get-vw(60px); 
    }

} 
.pt-small{
    padding-top: get-vw(90px);
}
.pb-small{
    padding-bottom: get-vw(90px);
}
.pt-large{
    padding-top: get-vw(140px);
}
.pb-large{
    padding-bottom: get-vw(140px);
}
}




  // Animations
  @keyframes borderPulse {
    0% {
      box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 0.4),
                  0px 0px 0px 0px rgba(255, 255, 255, 1);
    }
    100% {
      box-shadow: inset 0px 0px 0px 3px rgba(117, 117, 255, 0.2),
                  0px 0px 0px 10px rgba(255, 255, 255, 0);
    }
  }
  
  @keyframes hoverShine {
    0% {
      background-image: linear-gradient(135deg, rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
    }
    50% {
      background-image: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, 0) 100%);
    }
    100% {
      background-image: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, .4) 100%);
    }
  }